@using AnimalShelterClient.Models;
@model List<Animal>;


<h3>Animals by type:</h3>
@foreach (Animal animal in Model)
{
    
    if (animal.type == "cat")
    {<li>@Html.ActionLink(@animal.type, "Type", new Animal {animalId = animal.animalId, type = animal.type, name = animal.name, age = animal.age })</li>

    }
    else
    {
      <li>@Html.ActionLink(@animal.type, "Type", new Animal {animalId = animal.animalId, type = animal.type, name = animal.name, age = animal.age })</li>
    }
    
}

<button class="btn btn-info">@Html.ActionLink("Add an animal", "Create")</button>
<button class="btn btn-info">@Html.ActionLink("Display all animals", "Index")</button>